

//Fonts
$base-font-family: sans-serif;
$base-font-weight: 400;


//Default Colors
$body-background-color: #364953;
$default-font-color: #3b3535;


//Content Colors
$content-background: #eef3f5;


//Spacing, padding, margins
$line-height: 1,5;
$paragraph-margin: 20px; 
$paragraph-padding: 10px;
$article-margin: 30px;
$h1-margin: 15px;
